---
interface Props {
	label: string;
	value: string;
	class?: string;
}

const { label, value, class: className = "" } = Astro.props;
---

<div class:list={["bg-main border-border border p-4", className]}>
	<span class="mb-1 block text-[10px] opacity-50">{label}</span>
	<p class="text-content-muted text-lg font-bold">
		<Fragment set:html={value} />
	</p>
</div>
