---
interface Props {
	from: string;
	to: string;
	isCurrent?: boolean;
	class?: string;
}

const { from, to, isCurrent = false, class: className = "" } = Astro.props;
---

<div
	class:list={[
		"text-md h-fit w-fit flex-shrink-0 px-4 py-2 font-mono font-black uppercase",
		isCurrent ? "text-content" : "text-content-muted",
		className,
	]}>
	/{isCurrent ? "Active" : "GRADUATED"}/{from}-{to}
</div>
