@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@utility container {
	margin-inline: auto;
	padding: 1rem;
	@variant 2xl {
		max-width: 1400px;
	}
}

:root {
	--main-dark: oklch(0.92 0 340);
	--main: oklch(0.96 0 340);
	--main-light: oklch(1 0 340);
	--content: oklch(0.15 0 340);
	--content-muted: oklch(0.4 0 340);

	--highlight: oklch(1 0 340);
	--border: oklch(87% 0.006 286.286);
	--border-muted: oklch(0.7 0 340);

	--neutral: oklch(0.15 0 340);
	--neutral-content: oklch(0.96 0 340);
	--primary: oklch(82% 0.189 84.429);
	--primary-content: oklch(14% 0.005 285.823);
	--info: oklch(54% 0.245 262.881);
	--info-content: oklch(97% 0.014 254.604);
	--success: oklch(62% 0.194 149.214);
	--success-content: oklch(26% 0.065 152.934);
	--warning: oklch(79% 0.184 86.047);
	--warning-content: oklch(28% 0.066 53.813);
	--error: oklch(57% 0.245 27.325);
	--error-content: oklch(97% 0.013 17.38);
}

[data-theme="dark"] {
	--main-dark: oklch(9.693% 0.00001 271.152);
	--main: oklch(0.15 0 340);
	--main-light: oklch(0.2 0 340);
	--content: oklch(0.96 0 340);
	--content-muted: oklch(0.76 0 340);
	--highlight: oklch(0.5 0 340);
	--border: oklch(0.4 0 340);
	--border-muted: oklch(0.3 0 340);

	--neutral: oklch(0.15 0 340);
	--neutral-content: oklch(0.96 0 340);
	--primary: oklch(49% 0.27 292.581);
	--primary-content: oklch(96% 0.016 293.756);
	--info: oklch(54% 0.245 262.881);
	--info-content: oklch(97% 0.014 254.604);
	--success: oklch(62% 0.194 149.214);
	--success-content: oklch(26% 0.065 152.934);
	--warning: oklch(79% 0.184 86.047);
	--warning-content: oklch(28% 0.066 53.813);
	--error: oklch(57% 0.245 27.325);
	--error-content: oklch(97% 0.013 17.38);
}

@theme {
	--font-sans: "Onest", sans-serif;
	--font-mono: "Geist Mono";

	--color-main-dark: var(--main-dark);
	--color-main: var(--main);
	--color-main-light: var(--main-light);
	--color-content: var(--content);
	--color-content-muted: var(--content-muted);
	--color-highlight: var(--highlight);
	--color-border: var(--border);
	--color-border-muted: var(--border-muted);

	--color-neutral: var(--neutral);
	--color-neutral-content: var(--neutral-content);
	--color-primary: var(--primary);
	--color-primary-content: var(--primary-content);
	--color-danger: var(--danger);
	--color-danger-content: var(--danger-content);
	--color-warning: var(--warning);
	--color-warning-content: var(--warning-content);
	--color-success: var(--success);
	--color-success-content: var(--success-content);
	--color-info: var(--info);
	--color-info-content: var(--info-content);
}

body {
	@apply bg-main-light text-content-muted;
}

.link {
	@apply decoration-2 hover:underline;
}

#site-heading {
	@apply text-primary-content;
}

#site-heading .link {
	@apply text-primary-content/90 hover:text-primary-content;
}

#site-heading #menu-right {
	@apply divide-primary-content/20;
}

#post-heading .menu-item {
	@apply hover:text-content text-content-muted;
}

#post-heading .menu-brand {
	@apply text-content;
}

#site-heading .sosial-links a {
	@apply border-primary-content hover:bg-neutral hover:border-neutral hover:text-neutral-content text-content shadow-none;
}

/* Open for work button with rainbow gradient */
#open-for-work {
	--rainbow-gradient: linear-gradient(
		90deg,
		var(--error),
		var(--success),
		var(--info),
		hsl(195, 100%, 63%),
		hsl(270, 100%, 63%)
	);

	background:
		linear-gradient(var(--color-main-light), var(--color-main-light)),
		linear-gradient(var(--color-main-light) 50%, rgba(255, 255, 255, 0.6) 80%, transparent),
		var(--rainbow-gradient);
	background-size: 200%;
}

#open-for-work:where([data-theme="dark"], [data-theme="dark"] *) {
	background:
		linear-gradient(var(--color-main-light), var(--color-main-light)),
		linear-gradient(var(--color-main-light) 50%, rgba(18, 18, 19, 0.6) 80%, transparent),
		var(--rainbow-gradient);
}

#open-for-work::before {
	content: "";
	background: var(--rainbow-gradient);
}

.scrollbar-hide {
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

.description {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.grid-background {
	background-image:
		linear-gradient(oklch(from var(--border) l c h / 0.3) 1px, transparent 1px),
		linear-gradient(90deg, oklch(from var(--border) l c h / 0.3) 1px, transparent 1px);
	background-size: 4rem 4rem;
}
