---
import { cn } from "@/lib/utils";

const { id, title, class: className = "", "background-text": backgoundText = "" } = Astro.props;
---

<section class="relative" id={id}>
	<div class={cn("container max-w-7xl", className)}>
		<h1 class="text-content mb-8 text-4xl font-bold capitalize">{title}</h1>
		<slot />
	</div>
	{
		backgoundText && (
			<div class="absolute top-0 left-0 -z-10 md:left-32">
				<p class="text-content-muted/10 text-[15rem] font-bold select-none">{backgoundText}</p>
			</div>
		)
	}
</section>
