---
import type { InferEntrySchema } from "astro:content";
import ProjectCard from "../ProjectCard.astro";
import BaseContent from "./BaseContent.astro";

type Props = {
	projects: InferEntrySchema<"projects">[];
};

const { projects } = Astro.props;
---

<BaseContent id="project" title="Project" class="relative" background-text="Project">
	<div class="flex flex-col gap-8 md:grid md:grid-cols-2 lg:grid-cols-3">
		{projects && projects.map((project, index) => <ProjectCard project={project} key={index} />)}
	</div>
</BaseContent>
