---
import { SKILLS } from "@/config";
import Chips from "../Chips.astro";
import BaseContent from "./BaseContent.astro";
---

<BaseContent id="skills" title="Tech Stack" background-text="Tech Stack">
	<div class="space-y-4">
		<div class="inline-flex w-full flex-wrap items-center gap-3 py-2">
			{SKILLS.map(({ name, icon }) => <Chips name={name} icon={icon} />)}
		</div>
	</div>
</BaseContent>
