---
import { cn } from "@/lib/utils";

interface Props {
	id?: string;
	class?: string;
}

const { id, class: className = "" } = Astro.props;
---

<section class={cn("relative w-full", className)} id={id}>
	<div class="mx-auto grid min-h-[600px] grid-cols-1 md:grid-cols-12">
		<slot />
	</div>
</section>
