---
import About from "@/components/content/About.astro";
import Educations from "@/components/content/Educations.astro";
import Project from "@/components/content/Project.astro";
import Skills from "@/components/content/Skills.astro";
import Footer from "@/components/Footer.astro";
import HomeHeading from "@/components/HomeHeading.astro";
import { SITE } from "@/config";
import Layout from "@/layouts/layout.astro";
---

<Layout title="me" description={SITE.shortDercription}>
	<div class="relative overflow-x-hidden">
		<HomeHeading />
		<main class="mt-40 mb-20 min-h-screen w-full space-y-20 md:mt-44 md:space-y-24">
			<About />
			<Skills />
			<Educations />
			<Project />
			<Footer mail={SITE.email} />
		</main>
	</div>
</Layout>
