---
interface Props {
	command?: string;
	email: string;
	class?: string;
}

const { command = "$ connect --protocol=email", email, class: className = "" } = Astro.props;
---

<div class:list={[className]}>
	<span class="text-primary mb-2 block text-xs font-bold">{command}</span>
	<a
		class="border-primary hover:bg-primary border-b-4 text-2xl font-bold transition-all hover:text-black md:text-3xl"
		href={`mailto:${email}`}>
		{email}
	</a>
</div>
