---
interface Props {
	label: string;
	href: string;
	text: string;
	class?: string;
}

const { label, href, text, class: className = "" } = Astro.props;
---

<div class:list={["flex flex-col gap-2", className]}>
	<span class="text-base-400 text-[10px] tracking-widest uppercase">{label}</span>
	<a class="hover:text-primary text-sm font-bold text-white uppercase" href={href}>{text}</a>
</div>
