---
import ThemeButton from "../ThemeButton.astro";
import Navbar from "./Navbar.astro";
import NavbarMenu from "./NavbarMenu.astro";
import { Icon } from "astro-iconify";
---

<header class="w-full py-8">
	<div class="flex w-full flex-col justify-center gap-y-4">
		<div class="flex justify-between">
			<Navbar />
			<div class="inline-flex items-center justify-center space-x-4 text-base">
				<ThemeButton />
			</div>
		</div>
	</div>
	<!-- Mobile -->
	<NavbarMenu class="gap-4 md:hidden" />
</header>
