---
import { cn } from "@/lib/utils";

interface Props {
	"background-text"?: string;
	left?: boolean;
	"left-class"?: string;
	right?: boolean;
	"right-class"?: string;
}

const {
	"background-text": backgroundText = "",
	left = true,
	"left-class": leftClass = "",
	right = true,
	"right-class": rightClass = "",
} = Astro.props;
---

{
	(backgroundText || left || right) && (
		<div>
			{backgroundText && (
				<div class="absolute top-28 -z-10 md:left-24">
					<p class="dark:text-content-muted/70 text-content-muted text-[15rem] font-bold select-none md:text-[20rem]">
						{backgroundText}
					</p>
				</div>
			)}
			{left && (
				<div
					class={cn(
						"bg-primary absolute -top-[360px] -left-[275px] -z-10 h-[980px] w-[2000px] rotate-[350deg] md:h-[1000px] md:opacity-80 dark:md:opacity-60",
						leftClass
					)}
				/>
			)}
			{right && (
				<div
					class={cn(
						"bg-primary absolute -top-[348px] -left-[268px] -z-10 hidden h-[1130px] w-[2000px] rotate-[10deg] md:block md:h-[1000px] md:opacity-80 lg:h-[850px] dark:md:opacity-80",
						rightClass
					)}
				/>
			)}
		</div>
	)
}
