---
import { cn } from "@/lib/utils";

interface Props {
	class?: string;
}

const { class: className = "" } = Astro.props;
---

<span
	class={cn(
		"text-content-muted bg-main rounded-full px-2.5 py-0.5 text-[0.65rem] font-medium tracking-wider uppercase",
		className
	)}>
	<slot />
</span>
