---
import { cn } from "@/lib/utils";

interface Props {
	class?: string;
}

const { class: className = "" } = Astro.props;
---

<span
	class={cn(
		"rounded-sm bg-main-dark px-3 py-0.5 text-center text-xs font-medium text-content capitalize border-border-muted border shadow shadow-highlight",
		className
	)}>
	<slot />
</span>
