---
import BackgroundText from "@/components/BackgroundText.astro";
import InView from "@/components/motions/InView.astro";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";

interface Props {
	id: string;
	title: string;
	class?: string;
	"background-text"?: string;
	"icon-title"?: string;
}

const {
	id,
	title,
	class: className = "",
	"background-text": backgroundText = "",
	"icon-title": iconTitle = "",
} = Astro.props;
---

<section class="relative overflow-hidden" id={id}>
	<div class="relative z-10 container max-w-6xl">
		{backgroundText && <BackgroundText text={backgroundText} class="mt-12 px-4" />}
		<div class={cn("relative z-10", className)}>
			<InView animation="fade-up">
				<div class="text-content mb-8 inline-flex h-fit items-center gap-4">
					{iconTitle && <Icon name={iconTitle} class="h-9 w-9 md:h-11 md:w-11" />}
					<h2 class="text-4xl font-bold capitalize">{title}</h2>
				</div>
			</InView>
			<InView animation="fade-up" delay={0.15}>
				<slot />
			</InView>
		</div>
	</div>
</section>
