---
import { cn } from "@/lib/utils";
import Icon from "astro-iconify";

interface Props {
	id: string;
	title: string;
	class?: string;
	"background-text"?: string;
	"icon-title"?: string;
}

const {
	id,
	title,
	class: className = "",
	"background-text": backgroundText = "",
	"icon-title": iconTitle = "",
} = Astro.props;
---

<section class="relative" id={id}>
	<div class={cn("container max-w-7xl", className)}>
		<div>
			<div class="text-content mb-8 inline-flex h-fit items-center gap-4">
				{iconTitle && <Icon name={iconTitle} class="h-9 w-9 md:h-11 md:w-11" />}
				<h1 class="text-4xl font-bold capitalize">{title}</h1>
			</div>
		</div>
		<slot />
	</div>
	{
		backgroundText && (
			<div class="absolute top-0 left-0 -z-10 md:left-32">
				<p class="text-main-dark/70 dark:text-content-muted/10 text-[15rem] font-bold select-none">
					{backgroundText}
				</p>
			</div>
		)
	}
</section>
