---
import { cn } from "@/lib/utils";
import Icon from "astro-iconify";

interface Props {
	label: string;
	url?: string;
	icon?: string;
	"icon-class"?: string;
	"icon-left"?: string;
	"icon-left-class"?: string;
	"icon-right"?: string;
	"icon-right-class"?: string;
	class?: string;
	as?: "a" | "button";
}

const {
	label,
	url,
	icon,
	"icon-class": iconClass = "h-4 w-4",
	"icon-left": iconLeft = "",
	"icon-left-class": iconLeftClass = "h-4 w-4",
	"icon-right": iconRight,
	"icon-right-class": iconRightClass = "h-4 w-4",
	class: className = "",
	...extra
} = Astro.props;

const primaryIcon = iconLeft ? iconLeft : icon;
const primaryIconClass = iconLeftClass ? iconLeftClass : iconClass;
---

<a
	href={url}
	class={cn(
		"blend group border-border text-content-muted hover:text-content shadow-highlight flex w-fit items-center gap-2 rounded-full border px-4 py-1 shadow-xs transition-colors",
		className
	)}
	{...extra}>
	{primaryIcon && <Icon name={primaryIcon} class={cn(primaryIconClass, "icon-left")} />}
	<span class="blend text-sm capitalize">{label}</span>
	{iconRight && <Icon name={iconRight} class={cn(iconRightClass, "icon-right")} />}
</a>
