---
import { cn } from "@/lib/utils";

interface Props {
	class?: string;
}
const { class: className = "" } = Astro.props;
---

<div class={cn("bg-main-light dark:bg-bg border-border flex h-full flex-col p-4", className)}>
	<slot />
</div>
