---
import { cn } from "@/lib/utils";
import BaseContent from "./BaseContent.astro";
import Links from "./Links.astro";

interface Props {
	class?: string;
	mail: string;
}

const { class: className = "", mail } = Astro.props;
---

<footer class={cn(className)}>
	<BaseContent id="contact" title="Get in touch" icon-title="ri:bard-line">
		<p>
			Email me at <a href=`mailto:${mail}` class="link italic">{mail}</a> linkor follow me via my
			social links.
		</p>
		<div class="mt-4">
			<Links />
		</div>
	</BaseContent>
</footer>
