---
import { cn } from "@/lib/utils";

interface Props {
	label?: string;
	class?: string;
}

const { label = "IMG_REF_01", class: className = "" } = Astro.props;
---

<div
	class={cn(
		"border-base relative aspect-square w-full max-w-md border-8 shadow-[12px_12px_0px_0px_var(--color-base)]",
		className
	)}>
	<slot />
	<div class="bg-base text-base-content absolute top-2 left-2 px-1 text-[8px] font-black">
		{label}
	</div>
</div>
