---
import { LINKS } from "@/config";
import Button from "./Button.astro";

interface Props {
	class?: string;
}

const { class: className = "" } = Astro.props;
---

<div class="group-link inline-flex gap-4 text-sm">
	{
		LINKS.map(({ label, url, icon, ...extra }) => (
			<Button label={label} url={url} icon={icon} class={className} {...extra} />
		))
	}
</div>
