---
import { cn } from "@/lib/utils";
import Header from "./Header.astro";

interface Props {
	class?: string;
	id?: string;
}

const { class: className = "", id = "post-heading" } = Astro.props;
---

<div class="container max-w-7xl" id={id}>
	<div class="h-full w-full">
		<Header />
		<div class={cn("mt-6 md:mt-12", className)}>
			<slot />
		</div>
	</div>
</div>
