---
import { cn } from "@/lib/utils";
import Header from "./Header.astro";

interface Props {
	class?: string;
	id?: string;
}

const { class: className = "", id = "post-heading", ...extra } = Astro.props;
---

<div id={id} class={cn(className)} {...extra}>
	<div class="container h-full w-full max-w-7xl">
		<Header />
		<div class="mt-6 md:mt-12">
			<slot />
		</div>
	</div>
</div>
