---
import Button from "@/components/Button.astro";
import { LINKS } from "@/config";

interface Props {
	class?: string;
}

const { class: className = "" } = Astro.props;
---

<div class="group-link inline-flex gap-4 text-sm">
	{
		LINKS.map(({ label, url, icon, ...extra }) => (
			<Button
				label={label}
				url={url}
				icon={icon}
				variant="basic"
				class={`shadow-none ${className}`}
				{...extra}
			/>
		))
	}
</div>
