---
import { cn } from "@/lib/utils";

interface Props {
	text: string;
	class?: string;
	theme?: "light" | "dark" | "auto";
}

const { text, class: className = "", theme = "auto" } = Astro.props;

let classes: string[] = [];
if (theme === "auto") {
	classes = ["bg-primary-content text-primary dark:bg-primary dark:text-primary-content"];
} else if (theme === "dark") {
	classes = ["bg-primary-content text-primary"];
} else {
	classes = ["bg-primary text-primary-content"];
}
---

<div
	class={cn(
		"inline-block px-3 py-1 text-[10px] font-black tracking-widest uppercase",
		...classes,
		className
	)}>
	{text}
</div>
