---
import { cn } from "@/lib/utils";
import Icon from "astro-iconify";

interface Props {
	topLabel: string;
	bottomLabel: string;
	icon?: string;
	class?: string;
	opacity?: number;
}

const {
	topLabel,
	bottomLabel,
	icon = "ri:database-2-line",
	class: className = "",
	opacity = 100,
} = Astro.props;

let normOpacity = opacity;
if (opacity > 100) {
	normOpacity = 100;
} else if (opacity < 0) {
	normOpacity = 0;
}
---

<div
	class={cn(
		"border-base bg-main-light flex w-16 flex-col items-center border py-6 shadow-inner backdrop-blur-sm",
		className
	)}>
	<div class:list={["flex h-full flex-col justify-between py-10", `opacity-${normOpacity}`]}>
		<span
			class="text-content text-[10px] font-black tracking-[0.5em] uppercase [writing-mode:vertical-lr]">
			{topLabel}
		</span>
		<div class="bg-base/20 h-32 w-px"></div>
		<Icon name={icon} class="text-content h-32" size="20" />
		<div class="bg-base/20 h-32 w-px"></div>
		<span
			class="text-content text-[10px] font-black tracking-[0.5em] uppercase [writing-mode:vertical-lr]">
			{bottomLabel}
		</span>
	</div>
</div>
