---
import { SITE } from "@/config";
import Layout from "@/layouts/layout.astro";
import { getCollection } from "astro:content";
const allprojects = (await getCollection("projects"))
	.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
	.map((project) => project.data);
---

<Layout title="me" description={SITE.shortDescription}>
	<p>Under Contraction</p>
</Layout>
