---
import { cn } from "@/lib/utils";

interface Props {
	text: string;
	class?: string;
}

const { text, class: className = "" } = Astro.props;
---

<p class={cn("mb-12 max-w-xl text-xl leading-tight font-bold md:text-2xl", className)}>
	<Fragment set:html={text} />
</p>
