---
import { cn } from "@/lib/utils";

interface Props {
	text: string;
	class?: string;
}

const { text, class: className = "" } = Astro.props;
---

<div
	class={cn(
		"text-primary mb-6 inline-block bg-black px-3 py-1 text-[10px] font-black tracking-widest uppercase",
		className
	)}>
	{text}
</div>
