---
import { cn } from "@/lib/utils";

interface Props {
	class?: string;
}

const { class: className = "" } = Astro.props;
---

<div class={cn("relative flex h-[60%] justify-end gap-x-4 lg:col-span-5", className)}>
	<slot />
</div>
